# Configurações da Aplicação
APP_NAME="Cadastro de Livros"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

# Configurações do Nginx / Portas
NGINX_PORT=8080

# Configurações do Banco de Dados MySQL
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=cadastro_livros
DB_USERNAME=user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root
